
  
  footer {
    height: 30px;
    background-color: #333;
    color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
 
  
  .footer-links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .footer-links ul li {
    margin-right: 20px;
  }
  
  .footer-links ul li:last-child {
    margin-right: 0;
  }
  
  .footer-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
  }
  
  .footer-social ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .footer-social ul li {
    margin-right: 20px;
  }
  
  .footer-social ul li:last-child {
    margin-right: 0;
  }
  
  .footer-social ul li a {
    color: #fff;
    font-size: 18px;
  }
  