<div style="text-align: center; background: rgba(89, 159, 199);">
    <h1>Servicio</h1>
</div>
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" [routerLink]="['/reservaciones/servicios/subServicio']">Servicio</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/reservaciones/servicios/detalleServicio']">Detalle servicio</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/reservaciones/servicios/tipoServico']">Tipo servicio</a>
    </li>


</ul>
<router-outlet></router-outlet>
<br>