<div class="row">
    <div class="col-md-5">
        <div class="card">
            <div class="card-header">
                <h2 style="text-align: center; padding-top: 20px;">Servicio</h2>
            </div>
            <div class="card-body">
                <button type="button" class="btn btn-primary btn-block" data-toggle="modal" style="background-color: #0c1548; border-color: #4C4C6D; color: white; font-size: large;" data-target="#crearTipoServicio">Nuevo Servicio</button>
                <button type="button" class="btn btn-primary btn-block" data-toggle="modal" style="background-color: #ab6a2d; border-color: #4C4C6D; color: white; font-size: large;" (click)="cargarTipoServicio()">Recargar</button>

            </div>
        </div>
    </div>
    <div class="col-md-12">
        <table class="table table-bordered table-hover bg-white">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Descripción</th>
                    <th class="d-flex justify-content-center">Opciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let i of tipoServicios">
                    <td>
                        {{i.tser_id}}
                    </td>
                    <td>
                        {{i.tser_descripcion}}
                    </td>

                    <td class="d-flex justify-content-center">
                        <a class="btn btn-danger" (click)="eliminarTipoServicio(i.tser_id)">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                        <a class="btn btn-success" data-toggle="modal" data-target="#actualizarBien" (click)="infoUpdateTipoServicio(i.tser_id,i.tser_descripcion)">
                            <i class="fas fa-edit"></i>
                        </a>

                        <div class="modal fade" id="actualizarBien" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title" id="exampleModalLabel">Actualizar Servicio</h1>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form [formGroup]="form">
                                            <div class="form-group">
                                                <input type="text" name="Descripción del bien" formControlName="txtdescripcion" placeholder="{{informacionTipoServicio.tser_descripcion}}" class="form-control">

                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                                <button type="button" class="btn btn-primary" (click)="actualizarTipoServicio(informacionTipoServicio.tser_id)" data-dismiss="modal">Actualizar</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- Crear Tipo Servicio -->
<div class="modal fade" id="crearTipoServicio" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="exampleModalLabel">Nuevo Servicio</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="form">
                    <div class="form-group">
                        <div class="form-floating mb-3">
                            <input type="text" name="Descripción" class="form-control" id="descripcion_" formControlName="txtdescripcion" placeholder="Descripción">
                            <label for="descripcion_">Descripción </label>
                        </div>
                        <div class=" modal-footer ">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="crearTipoServicio()">Crear</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>