<app-header></app-header>
<br>
<ul class="nav justify-content-center">

    <li class="nav-item">

        <a style="border: solid 1px; border-radius: 7px;" class="nav-link active"
            [routerLink]="['/contabilidad/subContabilidad']">Contabilidad</a>
            
    </li>
    <li class="nav-item">

        <a style="border: solid 1px; border-radius: 7px;" class="nav-link active"
            [routerLink]="['/contabilidad/reporte']">Reporte</a>
            
    </li>

</ul>
<br>
<router-outlet></router-outlet>