<app-header></app-header>
<br>
<div class="container">
    <h1 style="text-align: center;font-size: 30px; font-weight: 900px;">Gestión Adminitrativa</h1>
</div>

<ul class="nav justify-content-center">
    <li class="nav-item" style="margin-left:10px;margin-right: 10px;">

        <a style="border: solid 1px; border-radius: 7px; font-size: 20px;" class="nav-link active" [routerLink]="['/main']">Regresar</a>
    </li>
    <li class="nav-item" style="margin-left:10px;margin-right: 10px;">

        <a style="border: solid 1px; border-radius: 7px; font-size: 20px;" class="nav-link active" [routerLink]="['/administracion/Habitantes/Habitante']">Habitantes</a>
    </li>
    <li class="nav-item" style="margin-left:10px;margin-right: 10px;">

        <a style="border: solid 1px; border-radius: 7px; font-size: 20px;" class="nav-link active" [routerLink]="['/administracion/asignacionCondominos/Condomino']">Acceso Sistema</a>
    </li>
    <li class="nav-item" style="margin-left:10px;margin-right: 10px;">

        <a style="border: solid 1px; border-radius: 7px; font-size: 20px;" class="nav-link active" [routerLink]="['/administracion/pagos/editAlicuota']">Administración</a>
    </li>

</ul>
<br>
<div class="container">
    <router-outlet></router-outlet>
</div>


<app-footer></app-footer>