<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <br>
        <br>
        <div class="fadeIn first">
            <img src="assets/descarga.png" id="icon" alt="User Icon" />
        </div>
        <br>
        <br>
        <!-- Login Form -->
        <form [formGroup]="formLogin">
            <input type="text" formControlName="res_usuario" placeholder="Usuario" form>
            <input type="password" formControlName="res_clave" placeholder="Contraseña">
            <br>
            <div class="container__resp" *ngIf="estado">
                <h4>{{resp}}</h4>
            </div>
          
            <input type="button" (click)="Login(formLogin.value)" class="fadeIn fourth" value="Inciar Sesión">
        </form>


        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="underlineHover" href="#">Forgot Password?</a>
        </div>


    </div>
</div>