<div class="row">
    <div class="col-md-5">
        <div class="card">
            <div class="card-header">
                <h2 style="text-align: center; padding-top: 20px;">Gestion Pagos Residentes</h2>
            </div>
            <div class="card-body">
                <button type="button" class="btn btn-primary btn-block" data-toggle="modal" style="background-color: #0c1548; border-color: #4C4C6D; color: white; font-size: large;" (click)="crearDetallePago()">Asignar</button>
                <button type="button" class="btn btn-primary btn-block" data-toggle="modal" style="background-color: #ab6a2d; border-color: #4C4C6D; color: white; font-size: large;" (click)="recargar()">Recargar</button>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <table class="table table-bordered table-hover bg-white">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>FECHA</th>
                    <th>RESIDENTE</th>
                    <th>ALÍCUOTA</th>
                    <th>TOTAL</th>
                    <th>ESTADO</th>
                    <th class="d-flex justify-content-center">Opciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let i of detpagos">
                    <td>
                        {{i.dpag_id}}
                    </td>
                    <td>
                        {{i.dpag_fecha | date: "dd/MM/yyyy"}}
                    </td>
                    <td>
                        {{i.per_nombres}} {{i.per_apellidos}}
                    </td>
                    <td>
                        {{i.ali_descripcion}}
                    </td>
                    <td>
                        {{i.total}}
                    </td>
                    <td style="color: red;">
                        <span *ngIf="i.dpag_estado; else pendiente"> {{i.dpag_estado}} </span>
                        <ng-template #pendiente> pendiente </ng-template>
                    </td>

                    <td class="d-flex justify-content-center">
                        <div class="button-container">
                            <a class="btn btn-warning" data-toggle="modal" (click)="updateEstado(i.dpag_id,i.res_correo)">
                                <i class="fas fa-check-circle"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<br>
<br>
<br>