<div class="container__main">
    <header class="wrapper">
        <nav>

            <label for="asdasda">Administrador</label>
            <div class="wrapper__link-user">

                <img src="https://cdn-icons-png.flaticon.com/512/219/219983.png" alt="">
                <ul>
                    <li><a routerLink="/login" style="font-size:medium;">Cerrar sesion</a></li>

                </ul>
            </div>
        </nav>
    </header>
</div>

<main>
    <div class="container">
        <br>
        <div style="display: flex; text-align: center;justify-content: center; ">
            <h1 style="font-weight: 900;font-size: 50px;">Módulos</h1>
        </div>

        <div class="container__categories" style="border-top: solid 1px;">

            <a href="/contabilidad" class="card"
                [ngClass]="{'d-none':userLogeado=='Condómino' || userLogeado === 'Guardía' || userLogeado === 'Secretario'}">
                <div class="content">
                    <!-- <i  class=""></i> -->
                    <i style="height: 120px;width: 120px;" class="fa-solid fa-receipt"></i>

                </div>
                <div class="title">
                    <p>Contabilidad</p>
                    <div class="underline"></div>
                </div>

            </a>
            <a href="/reservaciones" class="card"
                [ngClass]="{'d-none':userLogeado=='Condómino' || userLogeado === 'Guardía' || userLogeado === 'Tesorero' }">
                <div class="content">

                    <i class='fa-solid fa-calendar' style="height: 120px;width: 120px;"></i>
                </div>
                <div class="title">
                    <p>Reservaciones</p>
                    <div class="underline"></div>
                </div>

            </a>
            <a href="/usuarios/cuentasPendientes" class="card"
                [ngClass]="{'d-none': userLogeado === 'Guardía' }">
                <div class="content">
                    <i style="height: 120px;width: 120px;" class="fas fa-user-friends"></i>
                </div>
                <div class="title">
                    <p>Usuarios</p>
                    <div class="underline"></div>
                </div>

            </a>
            <a href="/administracion" class="card"
                [ngClass]="{'d-none':userLogeado=='Condómino' || userLogeado === 'Guardía' || userLogeado === 'Tesorero'  || userLogeado === 'Secretario'}">
                <div class="content">
                    <i style="height: 120px;width: 120px;" class="fas fa-desktop"></i>
                </div>
                <div class="title">
                    <p>Administración</p>
                    <div class="underline"></div>
                </div>

            </a>
            <a href="/seguridad/sub/UsuarioE" class="card"
                [ngClass]="{'d-none':userLogeado=='Condómino' || userLogeado === 'Tesorero'  || userLogeado === 'Secretario'}">
                <div class="content">
                    <i style="height: 120px;width: 120px;" class="fas fa-home"></i>
                </div>
                <div class="title">
                    <p>Seguridad</p>
                    <div class="underline"></div>
                </div>

            </a>




        </div>
    </div>

</main>




<!-- 
    --------------------------------
                FOOTER
    --------------------------------
   -->


<footer>
    <div class="footer-container">
        <div class="footer-logo">

        </div>
        <div class="footer-links">
            <ul>
                <li><a href="#">Copyright © 2023</a></li>

            </ul>
        </div>
        <div class="footer-social">

        </div>
    </div>
</footer>