<div class="content-body">

    <div class="heading_container heading_center" style="background-color: #404258; height: 150px;padding-top:2px;">
        <h2
            style="text-align: center; padding-top: 50px; color: white;font-style:italic;font-size: 80px; font-family: Optima;">
            Departamentos
        </h2>
    </div>
    <div class="flex align-items-center justify-content-between">
        <br>
    </div>
    <div class="row">
        <div class="col-md-5">
            <div class="card">
                <div style="background-color: #f1f1f1;" class="card-header">
                    <h2 style="text-align: center; padding-top: 20px;
                    font-family: Optima; font-size: 22px;"> Administrador de Departamentos</h2>
                </div>
                <div class="card-body">
                    <button type="button" class="btn btn-primary btn-block" data-toggle="modal" style="background-color: #c2cbde; border-color:#404258; color:black;
                     font-family: Optima; font-size: 20px;" data-target="#crearDepartamento">Nuevo
                        Departamento</button>
                </div>
                <div class="modal fade" id="crearDepartamento" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Crear nuevo Departamento</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form [formGroup]="form">

                                    <div class="form-group">
                                        <div class="form-inline">
                                            <div class="form-group mb-2">
                                                <Label style="padding-right: 10px; font-weight: bold;">Id Departamento:
                                                </Label>
                                                <input type="text" name="Id Departamento" formControlName="dep_id"
                                                    class="form-control">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="form-inline">
                                            <div class="form-group mb-2">
                                                <Label style="padding-right: 10px; font-weight: bold;">Teléfono:
                                                </Label>
                                                <input type="text" name="Teléfono" formControlName="dep_telefono"
                                                    class="form-control">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="form-inline">
                                            <div class="form-group mb-2">
                                                <Label style="padding-right: 10px;font-weight: bold;">Estado: </Label>
                                                <input type="checkbox" name="Estado" formControlName="dep_estado"
                                                    placeholder="Insertar Estado">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="form-inline">
                                            <div class="form-group mb-2">
                                                <Label style="padding-right: 10px;font-weight: bold;">Ocupación:
                                                </Label>
                                                <input type="checkbox" name="Ocupación" formControlName="dep_ocupacion"
                                                    placeholder="Insertar Ocupación">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Cerrar</button>
                                        <button type="button" class="btn btn-primary" (click)="crearDepartamento()"
                                            data-dismiss="modal">Crear</button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--    
    probando
-->
        <p-table #dt [rows]="10" [value]="departamentos" [paginator]="true" responsiveLayout="scroll" [rowHover]="true"
            currentPageReportTemplate="Mostrando elementos {first} y {last} de {totalRecords} entradas totales"
            [showCurrentPageReport]="true" [globalFilterFields]="['dep_id, dep_estado,dep_ocupacion']">
            <ng-template pTemplate="caption">
                <div class="flex align-items-center justify-content-between">
                </div>
            </ng-template>

            <ng-template pTemplate="header">
                <tr>

                    <th pSortableColumn="dep_id">Id<p-sortIcon field="dep_id"></p-sortIcon>
                        <div class="flex justify-content-center align-items-center">
                            <p-columnFilter type="text" field="dep_id" display="dep_id"></p-columnFilter>
                        </div>
                    </th>
                    <th>Teléfono
                        <div class="flex justify-content-center align-items-center">
                            <p-columnFilter type="text" field="dep_telefono" display="dep_telefono"></p-columnFilter>
                        </div>
                    </th>
                    <th>Estado
                        <div class="flex justify-content-center align-items-center">
                            <p-columnFilter type="text" field="dep_estado" display="dep_estado"></p-columnFilter>
                        </div>
                    </th>
                    <th>Ocupación
                        <div class="flex justify-content-center align-items-center">
                            <p-columnFilter type="text" field="dep_ocupacion" display="dep_ocupacion"></p-columnFilter>
                        </div>
                    </th>
                    <th>Opciones</th>
                </tr>

            </ng-template>
            <ng-template pTemplate="body" let-departamento>
                <tr>

                    <td>{{departamento.dep_id}}</td>
                    <td>{{departamento.dep_telefono}}</td>
                    <td>{{cambiarEstado(departamento.dep_estado)}}</td>
                    <td>{{cambiarOcupacion(departamento.dep_ocupacion)}}</td>

                    <td>
                        <button pButton pRipple icon="pi pi-pencil" style="height: 2.5rem; width: 2.5rem;"
                            class="p-button-rounded p-button-success mr-1" data-toggle="modal"
                            data-target="#actualizarDepartamento"
                            (click)="infoUpdateDepartamento(departamento)"></button>

                        <button pButton pRipple type="button" icon="pi pi-trash"
                            class="p-button-rounded p-button-danger" style="height: 2.5rem; width: 2.5rem;"
                            (click)="eliminarDepartamento(departamento.dep_id)"></button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <div class="flex align-items-center justify-content-between">

                </div>
            </ng-template>
        </p-table>

        <!--    
probando
-->
        <div class="modal fade" id="actualizarDepartamento" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Actualizar Departamento</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form [formGroup]="form">
                            <div class="form-group">
                                <label>
                                    <h4 style="font-weight: bold;">Id Departamento:
                                    {{informacionDepartamentos.dep_id}}</h4>
                                </label>
                            </div>
                            <div class="form-group">
                                <Label style="padding-right: 10px;font-weight: bold;">Teléfono:</Label>
                                    <input type="text" name="Teléfono" formControlName="dep_telefono" class="form-control">
                                
                            </div>
                            <div class="form-group">
                                <div class="form-inline">
                                    <div class="form-group mb-2">
                                        <Label style="padding-right: 10px;font-weight: bold;">Estado:
                                        </Label>
                                        <input type="checkbox" name="Estado" formControlName="dep_estado">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="form-inline">
                                    <div class="form-group mb-2">
                                        <Label style="padding-right: 10px;font-weight: bold;">Ocupación:
                                        </Label>
                                        <input type="checkbox" name="Ocupación" formControlName="dep_ocupacion">
                                    </div>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                <button type="button" class="btn btn-primary" (click)="actualizarDepartamento()"
                                    data-dismiss="modal">Actualizar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>