<div class="content-body">

  <div class="heading_container heading_center" style="background-color: #404258; height: 150px;padding-top:2px;">
    <h2 style="text-align: center; padding-top: 50px; color: white;font-style:italic;font-size:85px; font-family: Optima;">
      Usuarios Externos
    </h2>
  </div>
  <div class="flex align-items-center justify-content-between">
    <br>
</div>
  <div class="row">
    <div class="col-md-5">
      <div class="card">
        <div class="card-header">
          <h2 style="text-align: center; padding-top: 20px;"> Administrador de Usuarios Externos</h2>
        </div>
        <div class="card-body">
          <button type="button" class="btn btn-primary btn-block" data-toggle="modal"
          style="background-color:#c2cbde;
          border-color:#404258; color:black; font-size: 20px; 
          font-family: Optima; font-weight: bold;"
            data-target="#crearUsuarioExterno">Nuevo Usuario Externo</button>
        </div>
        <div class="modal fade" id="crearUsuarioExterno" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Crear nuevo Usuario Externo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form [formGroup]="form">

                  <div class="form-group">
                    <div class="form-inline">
                      <div class="form-group mb-2">
                        <Label style="padding-right: 10px; font-weight: bold;">Cédula habitante: </Label>
                        <select name="Cédula" placeholder="Seleccione la cédula" formControlName="per_id"
                          class="form-control">
                          <option *ngFor="let persona of personas" value="{{persona.per_id}}">
                            {{persona.per_id}} </option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="form-inline">
                      <div class="form-group mb-2">
                        <Label style="padding-right: 10px; font-weight: bold;">Nombres: </Label>
                        <input type="text" name="Nombres" formControlName="per_nombres" placeholder="Insertar nombres"
                          class="form-control">
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="form-inline">
                      <div class="form-group mb-2">
                        <Label style="padding-right: 10px; font-weight: bold;">Apellidos: </Label>
                        <input type="text" name="Apellidos" formControlName="per_apellidos"
                          placeholder="Insertar apellidos" class="form-control">
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="form-inline">
                      <div class="form-group mb-2">
                        <Label style="padding-right: 10px; font-weight: bold;">Fecha: </Label>
                        <input type="date" name="Fecha" formControlName="use_fecha" class="form-control">
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="form-inline">
                      <div class="form-group mb-2">
                        <Label style="padding-right: 10px;font-weight: bold;">Descripción: </Label>
                        <input type="text" name="Descripción" formControlName="use_descripcion" class="form-control"
                          placeholder="Insertar Descripción">
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" (click)="crearUsuarioExterno()"
                      data-dismiss="modal">Crear</button>
                  </div>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--    
    probando
-->
    <p-table #dt [rows]="5" [value]="usuariosexternos" [paginator]="true" responsiveLayout="scroll" [rowHover]="true"
      currentPageReportTemplate="Mostrando elementos {first} hasta {last} de {totalRecords} entradas totales"
      [showCurrentPageReport]="true" [globalFilterFields]="['use_id']">
      <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
        </div>
      </ng-template>

      <ng-template pTemplate="header">
        <tr>

          <th pSortableColumn="use_id">Id Usuario externo<p-sortIcon field="use_id"></p-sortIcon>
            <div class="flex justify-content-center align-items-center">
              <p-columnFilter type="text" field="use_id" display="use_id"></p-columnFilter>
            </div>
          </th>

          <th pSortableColumn="per_id">Id Persona<p-sortIcon field="per_id"></p-sortIcon>
            <div class="flex justify-content-center align-items-center">
              <p-columnFilter type="text" field="per_id" display="per_id"></p-columnFilter>
            </div>
          </th>
          <th>Nombre
            <div class="flex justify-content-center align-items-center">
              <p-columnFilter type="text" field="per_nombres" display="per_nombres"></p-columnFilter>
            </div>
          </th>

          <th>Apellidos
            <div class="flex justify-content-center align-items-center">
              <p-columnFilter type="text" field="per_apellidos" display="per_apellidos"></p-columnFilter>
            </div>
          </th>

          <th pSortableColumn="use_fecha">Fecha<p-sortIcon field="use_fecha">
            </p-sortIcon>
            <div class="flex justify-content-center align-items-center">
              <p-columnFilter type="text" field="use_fecha" display="use_fecha"></p-columnFilter>
            </div>
          </th>
          <th>Descripción de la visita
            <div class="flex justify-content-center align-items-center">
              <p-columnFilter type="text" field="use_descripcion" display="use_descripcion"></p-columnFilter>
            </div>
          </th>
          <th>Opciones</th>
        </tr>

      </ng-template>
      <ng-template pTemplate="body" let-usuarioexterno>
        <tr>
          <td>{{usuarioexterno.use_id}}</td>
          <td>{{usuarioexterno.per_id}}</td>
          <td>{{usuarioexterno.per_nombres}}</td>
          <td>{{usuarioexterno.per_apellidos}}</td>
          <td>{{usuarioexterno.use_fecha | date:'dd-MM-yyyy'}}</td>
          <td>{{usuarioexterno.use_descripcion}}</td>
          <td>
            <button pButton pRipple icon="pi pi-pencil" style="height: 2.5rem; width: 2.5rem;"
              class="p-button-rounded p-button-success mr-1" data-toggle="modal" data-target="#actualizarUsuarioExterno"
              (click)="infoUpdateUsuarioExterno(usuarioexterno)"></button>

            <button pButton pRipple type="button" icon="pi pi-trash" class="p-button-rounded p-button-danger"
              style="height: 2.5rem; width: 2.5rem;" (click)="eliminarUsuarioExterno(usuarioexterno.use_id)"></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">

        </div>
      </ng-template>
    </p-table>
    <!--    
probando
-->

    <div class="modal fade" id="actualizarUsuarioExterno" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Actualizar Usuario Externo</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form [formGroup]="form">
              <div class="form-group">
                <label>
                  <h6>Id Usuario Externo:{{informacionUsuariosExternos.use_id}}</h6>
                </label>
              </div>

              <div class="form-group">
                <div class="form-inline">
                  <div class="form-group mb-2">
                    <Label style="padding-right: 10px; font-weight: bold;">Cédula habitante: </Label>
                    <select name="Cédula" placeholder="Seleccione la cédula" formControlName="per_id"
                      class="form-control">
                      <option *ngFor="let persona of personas" value="{{persona.per_id}}">
                        {{persona.per_id}} </option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <input type="text" name="Nombres" formControlName="per_nombres" class="form-control">
              </div>

              <div class="form-group">
                <input type="text" name="Apellidos" formControlName="per_apellidos" class="form-control">
              </div>

              <div class="form-group">
                <input type="date" name="Fecha" formControlName="use_fecha" class="form-control">
              </div>

              <div class="form-group">
                <input type="text" name="Descripción" formControlName="use_descripcion" class="form-control">
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" (click)="actualizarUsuarioExterno()"
                  data-dismiss="modal">Actualizar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>